html {font-size: 62.5%}

body {
	font-family: "Open Sans", Arial, sans-serif;
	background-color: #F2F2F2;
	color: #666;
	font-size: 1.6rem;
}

header {
	background-repeat: no-repeat;
	background-position: center bottom;
	background-color: #649CFE;
	color: white;
}

header nav ul {
	list-style: none;
}

header nav ul li {
	display: flex;
	justify-content:space-around;

}
